doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Rate Limiting
  section
  
 
      h1 TestingPage
      p Please check the address is http://127.0.0.1:3001/demo to  the rate limiting testing
      p The demo is: 5 requests in 2 minutes

      
      
      
