doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Rate Limiting
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/js/main.js")
  section
  
 
      h1 Reset IP rate limit
      p rate limiting testing address : http://127.0.0.1:3002/demo 
      p The demo is: 5 requests in 2 minutes
      br
      hr
      h4 Reset the rate limiting of demo?
      input(type="button", value="Reset" id='nSubmit')
      #result
      
